<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>InternArt</title>
  <link rel="stylesheet" type="text/css" href="assets/style/main.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <i class="material-icons">&#xE8B6;</i>
    <input id="searchBar" placeholder="search" />
  </nav>
</body>
</html>
