<nav>
  <a class="home delink" href="/"><i class="material-icons home">home</i></a>
  <input id="searchBar" placeholder="search" />
  <span id="userBar">
    <div id="loginBar">
      <a class="delink" href="/login">Login</a>
      <span class="smallHide">/</span>
      <a class="delink smallHide" href="/login#register">Register</a>
    </div>
    <a class="loggedIn hide delink" href="/upload"><i class="material-icons">file_upload</i></a>
    <img class="loggedIn hide" src="/assets/user.png" />
    <span class="loggedIn smallHide hide"></span>
  </span>
</nav>
<script src="/assets/js/loggedIn.js"></script>
