<nav>
  <input id="searchBar" placeholder="search" />
  <span id="userBar">
    <div id="loginBar">
      <a class="delink" href="/login">Login</a>
      <span class="smallHide">/</span>
      <a class="delink smallHide" href="/login#register">Register</a>
    </div>
    <img class="loggedIn" src="/assets/user.png" />
    <span class="loggedIn smallHide"></span>
  </span>
</nav>
<script src="/assets/js/loggedIn.js"></script>
