@import '_vars.scss';
main {
  //padding: 0px 32px 0px 32px;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 20px;
}

.art {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background: $bgWhite1;
  cursor: pointer;

  .image {
    flex: 1;
    background-position: center center;
    background-size: cover;
  }

  .art-info {
    display: grid;
    height: auto;
    padding: 10px 32px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;

    span {
      margin-top: auto;
      margin-bottom: auto;
    }

    .title {font-weight: 400;font-size: 1.2em}
    .artist {font-weight: 300;font-size: 1em}
  }
}
