@import '_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  width: 100%;
  height: 100%;
  background: $bgWhite;
  color: $fgBlack;
  font-family: $font;
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  border-bottom: 3px solid $fgBlack;
  padding: 10px 32px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  @media (min-width: 100px) and (max-width: 480px) {
    padding: 10px 16px;
  }

  #searchBar {
    flex: 1;
    font-size: 1.2em;
    border: none;
    font-family: $font;
    font-weight: $fLight;
    vertical-align: top;
  }

  span#userBar {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2em;
    font-weight: $fLight;

    a:hover {
      color: $fgBlack1;
    }

    img {
      vertical-align: middle;
      height: 1.6em;
      border-radius: 50%;
      margin-right: 6px;
    }

    .loggedIn { display: none;}

    @media (min-width: 100px) and (max-width: 480px) {
      .smallHide { display: none !important; }
      img {margin-right: 0px;}
    }
  }
}

.shadow {
  @extend %transition;
  -webkit-box-shadow: 0 3px 5px 2px $shadow1;
  box-shadow: 0 3px 5px 2px $shadow1;

  &:hover {
    -webkit-box-shadow: 0 3px 5px 2px $shadow2;
    box-shadow: 0 3px 5px 2px $shadow2;
  }
}

.popups {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  .popup {
    white-space: pre;
    position: absolute;
    background: $bgWhite1;
    border-radius: 4px;
    padding: 12px;
    font-size: 1.1em;
  }

  .userBarExt {
    position: absolute;
    white-space: pre;
    display: flex;
    flex-direction: column;
    background: $bgWhite1;

    a {
      @extend %transition;
      padding: 10px 24px;

      &:hover {
        background: $bgWhite2;
      }
    }
  }
}
